*.suo
*.user
*.userosscache
*.sln.docstates

msbuild.log
msbuild.err
msbuild.wrn
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Pp]ackages/


.vs/
.vscode

*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

*.dll

